<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DXGrid_UnboundColumns_MVVM.Properties.Settings.nwindConnectionString"
            connectionString="Provider=(localdb)\v11.0;Data Source=|DataDirectory|\nwind.mdb;Persist Security Info=True" />
        <add name="DXGrid_UnboundColumns_MVVM.Properties.Settings.NORTHWNDConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\NORTHWND.MDF;Integrated Security=True" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>